RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{QUERY_STRING} inline
RewriteRule \.css$ embed-images.php [QSA,L]

# prevent direct access to the script.
RewriteCond %{REQUEST_URI} embed-images.php
RewriteRule ^ - [F]